@import "tailwindcss";

@media print {
  body {
    background: white !important;
  }
  
  main > *:not(#mon-flyer-a-imprimer) {
    display: none !important;
  }

  header {
    display: none;
  }

  #mon-flyer-a-imprimer {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0 !important;
    box-shadow: none !important;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  @page {
    size: A4 portrait;
    margin: 0;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
   border: 2px solid #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
