@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  /* On ne cache tout QUE si on est réellement en train d'imprimer via le navigateur */
  body {
    background: white !important;
  }
  
  main > *:not(#mon-flyer-a-imprimer) {
    display: none !important; /* 'none' est plus radical et propre que 'hidden' */
  }

  #mon-flyer-a-imprimer {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0 !important;
    box-shadow: none !important;
    -webkit-print-color-adjust: exact; /* FORCE le navigateur à garder les couleurs */
    print-color-adjust: exact;
  }

  @page {
    size: A4 portrait;
    margin: 0;
  }
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
   border: 2px solid #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.text-outline-black {
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.timelineSegmentSpacing + .timelineSegmentSpacing {
  margin-top: 1px;
}

.createEventModalBoxShadow {
  box-shadow: 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%), 0px 11px 15px -7px rgb(0 0 0 / 20%);
}

.dropdownBoxShadow {
  box-shadow: 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%), 0px 5px 5px -3px rgb(0 0 0 / 20%);
}

.eventDetailModalBoxShadow {
  box-shadow: 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
}