@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  /* 1. On cache tout ce qui n'est pas l'affiche */
  body * {
    visibility: hidden;
  }

  /* 2. On affiche uniquement l'élément principal de ton flyer et ses enfants */
  #mon-flyer-a-imprimer, #mon-flyer-a-imprimer * {
    visibility: visible;
  }

  /* 3. On force le flyer à se coller en haut à gauche sans marges */
  #mon-flyer-a-imprimer {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 297mm; /* Force le format paysage */
    height: 210mm;
    box-shadow: none; /* On enlève l'ombre portée pour l'encre */
  }

  /* 4. On règle les paramètres de la page */
  @page {
    size: A4 landscape;
    margin: 0;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
   border: 2px solid #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.text-outline-black {
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}

.timelineSegmentSpacing + .timelineSegmentSpacing {
  margin-top: 1px;
}

.createEventModalBoxShadow {
  box-shadow: 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%), 0px 11px 15px -7px rgb(0 0 0 / 20%);
}

.dropdownBoxShadow {
  box-shadow: 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%), 0px 5px 5px -3px rgb(0 0 0 / 20%);
}

.eventDetailModalBoxShadow {
  box-shadow: 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%);
}